@import 'ember-paper';

.toolbar-superior {
    min-height: 46px !important;
    height: 46px !important;
    max-height: 46px !important;
}

.tollbar-tools-superior{
    font-size: 10px !important;
}